{% load static %}

<!-- Questi file erano quelli usati prima del nuovo look del sito, credo si possano cancellare ma nel dubbio rimarranno in questa cartella OLD -->

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>GrigoIndaga{% block page_title %}{% endblock %}</title>
    <!-- Importa jQuery (per eventuali script javascript) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Importa Bootstrap (per rendere la pagina responsiva) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Importa stylesheet per icone (?) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="intestazione">
                <h1>--INTESTAZIONEEEEEEEEE--</h1>
                <br><br>
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>