<!-- Questi file erano quelli usati prima del nuovo look del sito, credo si possano cancellare ma nel dubbio rimarranno in questa cartella OLD -->

{% extends 'OLD/base.html' %}

{% block page_title %}
     - Fine
{% endblock %}

{% block content %}
    Grazie per aver votato. La tua votazione è andata a buon fine.
    <br><br>
    {% for prof in professori %}
        <h3>{{ prof.nome }}</h3>
        <p>Spiegazione: {{ prof.spiegazione }}</p>
        <p>Preparazione: {{ prof.preparazione }}</p>
        <p>Valutazioni: {{ prof.valutazioni }}</p>
        <p>Metodo: {{ prof.metodo }}</p>
        <p>Rapporto: {{ prof.rapporto }}</p>
        <br>
    {% endfor %}
{% endblock %}