<!-- Questi file erano quelli usati prima del nuovo look del sito, credo si possano cancellare ma nel dubbio rimarranno in questa cartella OLD -->

{% extends 'OLD/base.html' %}

{% block page_title %}
    - Seleziona Classe
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12" id="domanda">
            <h3>Di che classe sei?</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">VAI A VOTARE</button>
            </form>
        </div>
    </div>
{% endblock %}