{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - GrigoIndaga</title>
    <meta name="description" content="Dai un voto ai tuoi prof!">
    <link rel="stylesheet" href="{% static 'app/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="{% static 'app/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/Features-Blue.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/Team-Boxed.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: #ffffff;">
        <div class="container"><a class="navbar-brand text-uppercase js-scroll-trigger" href="{% url 'seleziona_classe' %}" style="color: rgb(255,204,30);"><strong>GrigoIndaga</strong></a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler float-right" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link js-scroll-trigger" href="{% url 'seleziona_classe' %}" style="color: rgba(0,0,0,0.7);">HOMEPAGE</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>..</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 style="font-size: 40px;margin-bottom: 24px;"><strong>Grazie per aver votato. La tua votazione è andata a buon fine.</strong></h1>
                </div>
            </div>
            <div class="row">
                <button class="btn btn-primary" type="button" style="background-color: rgb(164,55,93);"><a href="{% url 'seleziona_classe' %}">TORNA ALLA HOMEPAGE</a></button>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>©&nbsp;GrigoIndaga 2020. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">FAQ</a></li>
            </ul>
        </div>
    </footer>
    <script src="{% static 'app/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

<style>
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
</style>

</html>