{% extends 'base.html' %}

{% block page_title %}
     - Vota ({{ classe.nome }})
{% endblock %}

{% block content %}
    Pagina per votare i prof della {{ classe.nome }}
    <br><br>
    <form method="POST">
        {% csrf_token %}
        {% for prof, form in forms_professori.items %}
            <h3>{{ prof.nome }}</h3>
            <table>
                {{ form.as_table }}
            </table>
        {% endfor %}
        <button type="submit">INVIA</button>
    </form>

    <!-- Style and Script usati per trasformare i RadioSelect dei form in stelle per la votazione -->
    <style>
        ul{
            padding: 0;
            margin: 0;
        }

        ul li{
            list-style-type: none;
            display: inline-block;
            margin: 10px;
            color: lightgrey;
            text-shadow: 2px 2px 7px gray;
            font-size: 24px !important;
        }

        ul li:hover{
            color: black;
        }

        ul li.active, ul li.secondary-active{
            color: black;
        }

        input[type="radio"]{
            display: none;
        }
    </style>
    <script>
        $('li').on('click', function () {
            var nome = $(this).name;
            $('li[name= nome]').removeClass('active').removeClass('secondary-active');
            $(this).addClass('active');
            $(this).prevAll().addClass('secondary-active');
        })
    </script>
{% endblock %}

